.tp-hide-revslider, .tp-caption.tp-hidden-caption {
    display: none !important;
    visibility: hidden !important;
}
.tp-caption {
    z-index: 1;
}
.tp-caption.noshadow {
    text-shadow: none;
}
.tp-caption a {
    color: #ff7302;
    text-shadow: none;
    transition: all 0.2s ease-out 0s;
}
.tp-caption a:hover {
    color: #ffa902;
}
.tp_inner_padding {
    box-sizing: border-box;
    max-height: none !important;
}
.tp-simpleresponsive .caption, .tp-simpleresponsive .tp-caption {
    opacity: 0;
    position: absolute;
    visibility: hidden;
}
.tp-simpleresponsive img {
    max-width: none;
}
.fullscreen-container {
    padding: 0;
    position: relative;
    width: 100%;
}
.fullwidthbanner-container {
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.fullwidthbanner-container .fullwidthbanner {
    position: relative;
    width: 100%;
}
.noFilterClass {
    filter: none !important;
}
.caption.fullscreenvideo {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.caption.fullscreenvideo iframe {
    height: 100% !important;
    width: 100% !important;
}
.tp-caption.fullscreenvideo {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}
.tp-caption.fullscreenvideo iframe {
    height: 100% !important;
    width: 100% !important;
}
.tparrows {
    opacity: 1;
    transition: opacity 0.2s ease-out 0s;
}
.tparrows.hidearrows {
    opacity: 0;
}
.tp-leftarrow {
    cursor: pointer;
    height: 40px;
    position: relative;
    width: 40px;
    z-index: 100;
}
.tp-rightarrow {
    cursor: pointer;
    height: 40px;
    position: relative;
    width: 40px;
    z-index: 100;
}
.tp-leftarrow:hover, .tp-rightarrow:hover {
    background-position: left bottom;
}
.tp-bannertimer {
    height: 10px;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 200;
}
.tp-bannertimer.tp-bottom {
    bottom: 0;
    height: 5px;
    top: auto;
}
@media only screen and (min-width: 0px) and (max-width: 479px) {
.responsive .tparrows {
    display: none;
}
}
.tp-simpleresponsive img {
    -moz-user-select: none;
}
.tp-simpleresponsive a {
    text-decoration: none;
}
.tp-simpleresponsive ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.tp-simpleresponsive > ul > li {
    position: absolute;
    visibility: hidden;
}
.tp-loader {
    background-color: #fff;
    border-radius: 3px;
    height: 44px;
    left: 50%;
    margin: -22px;
    position: absolute;
    top: 50%;
    width: 44px;
    z-index: 10000;
}
